.Container {
  display: flex;
  justify-content: center;
  margin: auto 10px;
  width: auto;
  height: 800px;

  background-size: 94%;
}

.Heading {
  margin: 100px;
  text-align: center;
  justify-content: center;
}
